/* Style options specifically for printing */
@media print {

    /* Hide everything that isn't inside the content div */
    #MainForm > :not(#content) {
        display: none!important;
    }

    /* Remove title and welcome message */ 
    #MainForm > #content > :not(.row) {
        display: none!important;
    }

    /* Hide the nav bar */
    #pageContent_titleNavDiv {
        display: none!important;
    }

    /* Remove extra whitespace */
    #content {
        margin:0!important;
        padding:0!important;
    }

    /* Prevent page breaks inside the table for a given quarter */
    #content > div.overflow {
        break-inside: avoid!important;
    }

    /* Make sure title remains with table if table moves to a new page */
    #content > table {
        break-after: avoid!important;
    }
}

/* Always applied */
/* Prevent "University of California, Santa Barbara" text from wrapping*/
#timestampCell {
    width: 50%;
}

/* Right-justify timestamp */ 
#pageContent_currentDateLabel {
    float: right;
}

/* Add some space before degree information */
#pageContent_MajorList {
    margin-top: 20px;
}

/* Make print button look pretty */
#print-button {
    padding: 10px 20px;
}
